
.footer {
    background: var(--mainColor);
    color: var(--textColorOne);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    font-family: var(--bodyFont);
    font-size: 0.7rem;
}